@model Login_Register_App.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phNumber" class="control-label"></label>
                <input asp-for="phNumber" class="form-control" />
                <span asp-validation-for="phNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" onclick="alert('User Registered Successfully')"/>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <p>Alrady have an accout- </p><a asp-action="Login">Login</a>
</div>

