@{
    ViewData["Title"] = "WrongCredentials";
}

<h1>WrongCredentials</h1>
<p>The username or password entered by you is wrong. Please verify again. Click on the below link to login.</p>
<a href="/Home/Login">Login</a>

